html,
body {
    height: 100%;
    background-color: #ECECEC;
}

img {
    max-width: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    background-color: #dc3545;
    color: #fff;
    padding: 8px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.product__category, .product__list-wrapper {
    border-radius: 5px;
}

.category__title, .product-list-wrapper__title {
    background-color: #F6F6F6;
    padding: 10px 5px 10px 50px;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.category__list {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.category__item {
    padding: 8px 5px 8px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.category__item:last-child {
    border-bottom: none;
}

.category__link {
    color: #a5a5a5;
}

.category__link:hover {
    color: #000;
}


.product-list {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-item {
    margin-bottom: 30px;
}

.product__img {
    width: 200px;
    height: 135px;
    margin: 5px 0 15px;
}

.product__name {
    font-size: 16px;
    margin: 10px 0;
    margin-left: 5px;
}

.product__price {
    color: #F25826;
    font-size: 15px;
    margin-left: 5px;
}

.product__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
}

a.product__button:hover {
    text-decoration: none;
    color: #fff;
}

.product__button {
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin: 5px;
    flex-grow: 1;
}

.product__button_orange {
    background-color: #F25826;
    color: #fff;
}

.product__button_gray {
    background-color: #3B393A;
    color: #fff;
}


.product-gallery__other-images {
    display: flex;
    /*flex-wrap: wrap;*/
}

.product-gallery__other-images img {
    width: calc(100% / 4 - 20px);
    margin: 10px 5px;
    /*flex-grow: 1;*/
}

.product-gallery__other-images img:first-child {
    margin-left: 0;
}

.product-gallery__other-images img:last-child {
    margin-right: 0;
}

.product-update__gallery {
    background-color: #fff;
}

.product-update__image {
    border: 1px solid #c5c5c5;
    padding: 0;
    margin: 5px 10px;
}

.breadcrumb {
    background-color: #ececec;
    border: 1px solid #d6d6d6;
}

.product-form__button {
    padding: 5px 20px;
    min-width: 150px;
    border-radius: 5px;
    background-color: #F25826;
    color: #fff;
    font-size: 18px;
}

.drop-zone-wrapper {
    background-color: #fff;
    padding: 8px;
    min-height: 300px;
}

.dropzone {
    border: 3px dashed #afa4a4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afa4a4;
    font-size: 20px;
}

.dragover {
    border-color: #F25826;
}

@media screen and (max-width: 1200px) {
    .product__button {
        flex-basis: auto;
        flex-shrink: 0;
    }
}